<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147610163285-b8jeif2vspvfip14i7eap9volltn64d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147610163285-b8jeif2vspvfip14i7eap9volltn64d8</string>
	<key>API_KEY</key>
	<string>AIzaSyChD5zr7NWiWC4Z1VRQGDKy4gOIsOZRvcA</string>
	<key>GCM_SENDER_ID</key>
	<string>147610163285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peto</string>
	<key>PROJECT_ID</key>
	<string>peto-2</string>
	<key>STORAGE_BUCKET</key>
	<string>peto-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147610163285:ios:1727107362cd9d80981cdc</string>
</dict>
</plist>